<div class="container-fluid h-100">
  <div class="row justify-content-center h-100">
    <div class="col-md-2 col-xl-8 feed">
      <div class="create-post mb-sm-2 mb-md-2 contacts_card">
        <div class="card-body msg_card_body">
            <div class="d-flex justify-content-start mb-4">
              <div class="img_cont_msg_new_feed">
                <img src="<%= current_user&.photo %>" class="rounded-circle user_img_new_feed">
              </div>
              <div class="msg_cotainer">
                Hi, how are you samim?
                <span class="msg_time">8:40 AM, Today</span>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xl-8 feed">
      <div class="feed_card mb-sm-2 mb-md-2 contacts_card">
        <div class="card-body msg_card_body">
            <div class="d-flex justify-content-start mb-4">
              <div class="img_cont_msg_new_feed">
                <img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg" class="rounded-circle user_img_new_feed">
              </div>
              <div class="msg_cotainer">
                Hi, how are you samim?
                <span class="msg_time">8:40 AM, Today</span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
