<div class="container-fluid h-100">
  <div class="row justify-content-center h-100">
    <div class="col-md-2 col-xl-8 feed">
      <div class="create-post mb-sm-2 mb-md-2 contacts_card">
        <div class="card-body msg_card_body">
            <div class="d-flex justify-content-start mb-12">
              <div class="img_cont_msg_new_feed">
                <img src="<%= current_user&.photo %>" class="rounded-circle user_img_new_feed">
              </div>
              <div class="col-md-2 col-xl-9">
                <textarea onkeyup="return enablePost()" class="form-control type_new_feed" placeholder="Type your message..."></textarea>
              </div>
              <div class="col-md-2 col-xl-2"><br>
                <button class="btn btn-outline-primary my-2 btn-lg my-sm-0 post-status" disabled>Post</button>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xl-8 feed">
      <div class="feed_card mb-sm-2 mb-md-2 contacts_card">
        <div class="card-body msg_card_body">
            <div class="d-flex justify-content-start mb-4">
              <div class="img_cont_msg_new_feed">
                <img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg" class="rounded-circle user_img_new_feed">
              </div>
              <div class="new_post">
                Hi, how are you samim?
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  function enablePost() {
    if ($('.type_new_feed').val() == '') {
      $('.post-status').prop('disabled', true);
      return true;
    } else {
      $('.post-status').prop('disabled', false);
      return false;
    }
  }
  $('.post-status').click(function() {
    postNewFeed();
  });

  function postNewFeed() {
    if ($('.type_new_feed').val() != '') {
      $.ajax({
        url: '/homes/new_feed',
        type: 'get',
        dataType: 'js',
        data: {
          messages: $('.type_new_feed').val(),
          photo: "<%= current_user&.photo %>",
          user_id_id: $('#senderID').val()
        }
      });
    }
    $('.type_msg').val('');
  }
</script>
